body {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
h1, h2 {
	margin-bottom: 1px;
	padding-bottom: 1px;
}

#content {
	margin-top: 10pt;
}

select
{
    width: 100px;
    height: 30px;
}
div
{
	padding:5px;
}

#status-box {
	float: right;
	width: 250px;
	min-height: 200pt;
	border: thin black solid;
	background-color: #f3f3f3;
	padding-left: 10pt;
	padding-right: 10pt;
}

#ourFeedback div p {
	padding-left: 10px;
	display: inline;

}
#ourFeedback div  {
	background-color: aliceblue;
	padding: 10px;
	border: 2px solid blue;
}	
#left-box {
	margin-right: 300px;	
	border: thin black solid;
	padding-left: 10pt;
	padding-right: 10pt;
	min-height: 200pt;
}

table{
	width: 800px;
	height: 800px;
	border: 1px solid black;
}
tr
{
	width: 800px;
	height: 100px;
}
td
{
	width: 100px;
	height: 100px;
	background-repeat: no-repeat;
    	background-position: center center;
}
.white
{
	background-color: white;
}
.black
{
	background-color: #D3D3D3;
}
#error-box {
	border: thin black solid;
	clear: both;
	background-color: red;
	padding-left: 10pt;
	padding-right: 10pt;
	min-height: 100pt;
	margin-top: 20px;
}
